.autocomplete-suggestions {
    border:1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color:#fff;
    -webkit-box-shadow: 0px 4px 30px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 4px 30px 0px rgba(204,204,204,1);
    box-shadow: 0px 4px 30px 0px rgba(204,204,204,1);
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; color:#333; }
.autocomplete-selected { background: #428bca;color:#ffffff; }
.autocomplete-suggestion strong { font-weight: normal; color: #990000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }